* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

/* HEADER */

header {
  width: 100%;
  height: 60px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  position: fixed;
  z-index: 999;
}

header.inactive {
  position: static;
  opacity: 0.5;
}

#header__container {
  width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

.logo {
  line-height: 70px;
}

.logo img {
  vertical-align: initial;
}

.navb {
  line-height: 60px;
}

.navb ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.navb ul li {
  margin-left: 10%;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}

.navb ul li a {
  text-decoration: none;
  color: #2a3037;
}

.navb ul li a .active {
  color: #2a3037 !important;
}

.navb ul li a .inactive {
  color: #cbd0d3 !important;
}

#menu_burguer {
  display: none;
}

/* BANNER PRINCIPAL */
.banner-image {
  background: url(../assets/img/Viajes_Hero.jpg);
  background-size: cover;
  max-height: 1000px;
  background-position: center;
}

.banner-image.inactive {
  opacity: 0.5;
  margin-top: -60px;
}

#titulo {
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 4.5rem;
  margin-bottom: 4rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  color: white;
}

i {
  font-size: 3.5rem;
  color: white;
  margin-right: 2%;
}

#subtitulo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

#parrafo_header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.content {
  width: 75%;
  margin: 0 auto;
}

/* MAIN */

main {
  width: 100%;
}

main.inactive {
  opacity: 0.5;
}

#tendencias {
  width: 100%;
  background-color: #ebebeb;
  min-height: 700px;
}

#tendencias__container {
  width: 75%;
  margin: 0 auto;
  background-color: #ebebeb;
}

.header_fix {
  min-height: 100px;
}

.titulo_seccion {
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  margin-bottom: 30px;
  letter-spacing: 1px;
  text-align: left;
}

.card__container {
  width: 100%;
  margin: 0 auto;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card-body {
  background-color: white;
  box-shadow: 0px 3px 6px #00000029 !important;
  border-radius: 0px 0px 4px 4px;
}

.card-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 800;
}

.card-text-2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #7a838d;
}

.card-text-2 span {
  font-weight: bold;
}

#blog {
  width: 100%;
}

#blog__container {
  width: 75%;
  margin: 0 auto;
}

#blog__card__container {
  width: 100%;
  min-height: 700px;
  margin: 0 auto;
  background-color: white;
  display: grid;
  grid-template-columns: 62.2% 36.8%;
}

.blog__cardbig__container {
  width: 100%;
  display: grid;
  justify-content: center;
}

.card_blog_big {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  color: white;
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
}

.card_blog_big .seccion {
  font-weight: 800;
  position: absolute;
  top: 40px;
  left: 40px;
}

.card_blog_big .titulo {
  font-size: 1.5rem;
  font-weight: 800;
  position: absolute;
  top: 290px;
  left: 40px;
}

.card_blog_big .subtitulo {
  font-size: 1rem;
  font-weight: 600;
  position: absolute;
  top: 325px;
  left: 40px;
}

.card_blog_big .tiempo {
  color: #cbd0d3;
  font-size: 0.83rem;
  font-weight: 600;
  position: absolute;
  top: 375px;
  left: 40px;
}

.blog__cardsmall__container {
  width: 100%;
  display: grid;
  justify-content: center;
}

.card_blog_small {
  width: 100%;
}

.card_blog_small .titulo {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 0;
}

.card_blog_small .tiempo {
  color: #cbd0d3;
  font-size: 0.83rem;
  font-weight: 600;
}

/* FOOTER */

footer {
  width: 100%;
  height: 96px;
  background: #2a3037 0% 0% no-repeat padding-box;
  opacity: 1;
}

footer.inactive {
  opacity: 0.5;
}

#footer__container {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

.logo2 {
  display: flex;
  align-items: center;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.social a {
  margin-left: 5%;
}

.social img {
  width: 16px;
  height: 16px;
}

/* SIDEBAR */

#sidebar {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: #ffffff;
  right: -300px;
  box-shadow: 0px 10px 20px #00000029;
  opacity: 1;
  transition: all 500ms linear;
}

#sidebar.active {
  right: 0;
  z-index: 1500;
}

#sidebar ul {
  list-style: none;
}

#sidebar ul li {
  color: #2a3037;
  text-align: left;
  padding: 15px 10px;
  text-transform: uppercase;
  font-size: larger;
  font-weight: 600;
}

#sidebar ul li a {
  font-size: larger;
  font-weight: 600;
  color: #2a3037;
  text-align: left;
  padding: 15px 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.btnClose {
  text-align: right !important;
  font-weight: bold;
  font-size: x-large !important;
  margin-bottom: 10%;
  cursor: pointer;
}

/* MEDIA QUERIES (RESPONSIVE) */

@media only screen and (max-width: 1460px) {
  #blog__container {
    width: 100%;
  }

  #blog__container .titulo_seccion {
    margin-left: 12%;
  }

  #blog__card__container {
    width: 85%;
    grid-template-columns: 65% 25%;
  }
}

@media only screen and (max-width: 1270px) {
  #blog__card__container {
    width: 95%;
    grid-template-columns: 70% 30%;
  }
}

@media only screen and (max-width: 1140px) {
  #blog__card__container {
    grid-template-columns: 100%;
    margin: 0 auto;
  }

  .blog__cardbig__container {
    justify-content: center;
  }

  .blog__cardsmall__container {
    justify-content: center;
  }

  .card_blog_small {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 838px) {
  #header__container {
    width: 85%;
  }

  #tendencias__container {
    width: 85%;
  }

  .card__container {
    flex-direction: column;
  }

  .card {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 738px) {
  .card_blog_big img {
    max-width: 600px;
  }

  .card_blog_big .titulo {
    top: 200px;
    left: 40px;
  }

  .card_blog_big .subtitulo {
    top: 240px;
    left: 40px;
  }

  .card_blog_big .tiempo {
    top: 300px;
    left: 40px;
  }
}

@media only screen and (max-width: 619px) {
  .card_blog_big img {
    max-width: 460px;
  }

  .card_blog_big .seccion {
    top: 20px;
    left: 30px;
  }

  .card_blog_big .titulo {
    font-size: 1.2rem;
    top: 150px;
    left: 30px;
  }

  .card_blog_big .subtitulo {
    font-size: 0.8rem;
    top: 180px;
    left: 30px;
  }

  .card_blog_big .tiempo {
    font-size: 0.6rem;
    top: 225px;
    left: 30px;
  }
}

@media only screen and (max-width: 598px) {
  .navb li {
    display: none;
  }

  #menu_burguer {
    display: block;
  }

  #blog__container .titulo_seccion {
    margin-left: 7%;
  }
}
