* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/* HEADER */

header {
  width: 100%;
  height: 60px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  position: fixed;
  z-index: 999;
}

#header__container {
  width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

.logo {
  line-height: 70px;
}

.navbar {
  line-height: 60px;
}

.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.navbar ul li {
  margin-left: 10%;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
}

#menu_burguer {
  display: none;
}

/* MAIN */

main {
  min-height: 1500px; /* borrar */
  width: 100%;
}

#main__container {
  width: 75%;
  margin: 0 auto;
}

.header_fix {
  min-height: 100px;
}

#main__container h1 {
  text-align: center;
}

/* FOOTER */

footer {
  width: 100%;
  height: 96px;
  background: #2a3037 0% 0% no-repeat padding-box;
  opacity: 1;
}

#footer__container {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

.logo2 {
  display: flex;
  align-items: center;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.social a {
  margin-left: 5%;
}

.social img {
  width: 16px;
  height: 16px;
}

/* MEDIA QUERIES (RESPONSIVE) */

@media only screen and (max-width: 838px) {
  #header__container {
    width: 85%;
  }
}

@media only screen and (max-width: 598px) {
  .navbar li {
    display: none;
  }

  #menu_burguer {
    display: block;
  }
}
