* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/* HEADER */

header {
  width: 100%;
  height: 60px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  position: fixed;
  z-index: 999;
}

header.inactive {
  position: static;
  opacity: 0.5;
}

#header__container {
  width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

.logo {
  line-height: 70px;
}

.logo img {
  vertical-align: initial;
}

.navb {
  line-height: 60px;
}

.navb ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.navb ul li {
  margin-left: 10%;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}

.navb ul li a {
  text-decoration: none;
  color: black;
}

#menu_burguer {
  display: none;
}

/* BANNER PRINCIPAL */
.banner-image {
  background: url(../assets/img/Viajes_Hero.jpg);
  background-size: cover;
  max-height: 1000px;
  background-position: center;
}

.banner-image.inactive {
  opacity: 0.5;
}

#titulo {
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 4.5rem;
  margin-bottom: 4rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  color: white;
}

i {
  font-size: 3.5rem;
  color: white;
  margin-right: 2%;
}

#subtitulo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

#parrafo_header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.content {
  width: 75%;
  margin: 0 auto;
}

/* MAIN */

main {
  width: 100%;
}

#main__container {
  width: 75%;
  margin: 0 auto;
}

.header_fix {
  min-height: 100px;
}

#main__container h1 {
  text-align: center;
}

/* FOOTER */

footer {
  width: 100%;
  height: 96px;
  background: #2a3037 0% 0% no-repeat padding-box;
  opacity: 1;
}

footer.inactive {
  opacity: 0.5;
}

#footer__container {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

.logo2 {
  display: flex;
  align-items: center;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.social a {
  margin-left: 5%;
}

.social img {
  width: 16px;
  height: 16px;
}

/* SIDEBAR */

#sidebar {
  position: fixed;
  width: 300px;
  height: 133.7% !important;
  background-color: #ffffff;
  right: -300px;
  box-shadow: 0px 10px 20px #00000029;
  opacity: 1;
  transition: all 500ms linear;
}

#sidebar.active {
  right: 0;
  position: absolute;
  z-index: 1500;
}

#sidebar ul {
  list-style: none;
}

#sidebar ul li {
  color: #2a3037;
  text-align: left;
  padding: 15px 10px;
  text-transform: uppercase;
  font-size: larger;
  font-weight: 600;
}

.btnClose {
  text-align: right !important;
  font-weight: bold;
  font-size: x-large !important;
  margin-bottom: 10%;
  cursor: pointer;
}

/* MEDIA QUERIES (RESPONSIVE) */

@media only screen and (max-width: 838px) {
  #header__container {
    width: 85%;
  }
}

@media only screen and (max-width: 598px) {
  .navb li {
    display: none;
  }

  #menu_burguer {
    display: block;
  }
}
